/*
* Angry Pigs Game - Styles
* @authors: Copyright (C) 2018 Carlos Adan Cortes De la Fuente & Timothy Coish - All Rights Reserved
* @email: krlozadan@gmail.com
* @date: 18/04/2018
*/

/******************************
Global Styles
******************************/
/*
    Blue : #003751
    Red : #e56465
    LightGray : #dae4e6
    DarkGray : #373a40
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;
}

select {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    color: #373a40;
}

button {
    display: block;
    padding: 0.75rem 0;
    margin: 1rem 0;
    border: none;
    border: 0.2rem solid #e56465;
    width: 100%;
    background-color: #e56465;
    color: #dae4e6;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type=submit]:hover,
button:hover {
    background-color: transparent;
    color: #e56465;
}

/******************************
Splash Screen
******************************/
.splash-screen {
    width: 100%;
    height: 100%;
    background-color: #003751;
    text-align: center;
}

.splash-screen h1 {
    color: #dae4e6;
    font-size: 5rem;
    margin-top: 1rem;
}

.splash-screen h1 span {
    font-style: italic;
    font-size: 3rem;
}

.splash-screen div.container {
    width: 50%;
    margin: 0 auto;
}

.splash-screen a:link,
.splash-screen a:visited {
    color: #dae4e6;
    font-size: 1.2rem;
}

/******************************
Modal
******************************/
.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.modal div.container {
    width: 50%;
    margin: 0 auto;
}

.modal div.container h2 {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 5rem;
    background-color: #dae4e6;
    color: #373a40;
}

.modal div.container button {
    margin-top: 0;
}

/******************************
Left Sidebar
******************************/
.left-sidebar {
    display: none;
    flex-basis: 15%;
    background-color: #dae4e6;
    box-shadow: 0.1rem 0rem 0.5rem #373a40 inset;
}

.left-sidebar img {
    display: block;
    max-width: 50%;
    margin: 1rem auto;
}

.left-sidebar button {
    margin: 0;
}

.left-sidebar h2 {
    background-color: #003751;
    margin: 0;
    padding: 1rem;
    color : #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

.counter {
    text-align: center;
    font-size: 3rem;
    margin: 0.5rem;
}

/******************************
Game Area
******************************/
main {
    position: relative;
    display: none;
    flex-basis: 85%;
    height: 100%;
}

.game-area {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.render-area {
    position: relative;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: url('../images/crosshair.png'), auto;
    overflow: hidden;
}

.game-object {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
}

.game-object.bird {
    background-size: contain;
    background-image: url('../level-editor/images/bird.png');
}

.game-object.collidable {
    background-size: 100% 100%;
}

.game-object.bullet {
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-image: url('../images/pig.png');
}

.game-object.cannon {
    width: 12rem;
    height: 12rem;
    transform-origin: left bottom;
    background-size: contain;
    background-image: url('../images/barrel.png');
}