/*
    Blue : #003751
    Red : #e56465
    LightGray : #dae4e6
    DarkGray : #373a40
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #dae4e6;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 70%;
    height: 100%;
}

h2 {
    background-color: #003751;
    margin: 0;
    padding: 1rem;
    color : #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

h2 > span {
    font-size: 1.2rem;
    text-transform: none;
}

label {
    display: block;
    padding: 0.5rem;
    color: #373a40;
    font-size: 1.2rem;
    font-weight: bold;
}

input[type=text],
input[type=number],
select {
    display: block;
    width: 100%;
    border: none;
    padding: 0.5rem 0;
}

input[type=submit],
button {
    display: block;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border: none;
    border-top: 0.2rem solid #e56465;
    border-bottom: 0.2rem solid #e56465;
    width: 100%;
    background-color: #e56465;
    color: #dae4e6;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type=submit]:hover,
button:hover {
    background-color: transparent;
    color: #e56465;
}

/******************************
Left Sidebar (Level Manager)
******************************/
.level-manager {
    flex-basis: 15%;
    height: 100%;
    box-shadow: 0.1rem 0rem 0.5rem #373a40 inset;
}

/******************************
Object Inspector
******************************/
.object-inspector {
    flex-basis: 15%;
    height: 100%;
    box-shadow: 0.1rem 0rem 0.5rem #373a40 inset;
}

/******************************
Draggable Area
******************************/
.drag-area {
    position: relative;
    flex-basis: 80%;
    overflow: hidden;
    background-image: url('../images/backgrounds/beach.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.draggable {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: move;
    animation : 1s scaleup ease;
}

@keyframes scaleup {
    from {
        transform:scale(0.75);
    }
  
    to {
        transform:scale(1);
    }
}

.draggable.collidable {
    background-size: 100% 100%;
}

.draggable.bird {
    background-size: contain;
    background-image: url('../images/bird.png');   
}

.draggable.cannon {
    width: 8rem;
    height: 8rem;
    background-size: contain;
    background-image: url('../../images/barrel.png');
}

.highlighted {
    outline: 0.2rem solid #e56465;
}

/******************************
Object Library
******************************/
.object-library {
    flex-basis: 20%;
}

.object-library > div {
    display: flex;
    align-items: center;
    align-content: center;
}

.library-obj {
    flex-basis: 10%;
    margin-left: 2rem;
    width: 8rem;
    height: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.library-obj:hover {
    transform: scale(1.1);
}

.library-obj.collidable {
    background-image: url('../images/crates/crate_01.png');
}

.library-obj.bird {
    background-image: url('../images/bird.png');   
}